.main{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
  color: #1f9d85;
  font-size: 2.5rem;
}

li{
  list-style: none;
  font-size: 2rem;
  margin-right: 14rem;
}