.contenedor{
    display: flex;
    flex-direction: row;
}

.card {
    background-color: whitesmoke;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    text-align: center;
    height: 70px;
    width: 150px;

}

.title {
    color: black;
}
