#root {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.contenedor {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.random-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}

.boton {
  padding: 12px 26px;
  background-color: #00b8ff;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}
