html, body {
  height: 100%;
  height: 100%;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 18px;
}
