#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1{
  font-size: 2rem;
}
.contenedor-cards{
   display: flex;
}
